form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 25px;
  }

  input[type="text"],
input[type="email"], textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  border: 3px solid #f6f6f6;
  outline: none;
  cursor: pointer;
  padding: 6px 8px;
  background-color: rgba(255, 255, 255, 1);
}

input[type="text"]:hover,
input[type="email"]:hover, textarea:hover {
  border-color: #ccc9c9;
}

input[type="text"]:focus,
input[type="email"]:focus, textarea:focus {
  background-color: #d1e4f0;
}

.label {
    display: block;
    font-weight: 700;
    color: #626262;
  }