form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 25px;
  }

  input[type="text"], input[type="number"],
input[type="email"], textarea {
  margin-top: 5px;
  display: block;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #f390be;
  outline: none;
  padding: 6px 8px;
  background-color: rgba(255, 255, 255, 1);
}

input[type="text"]:hover,
input[type="email"]:hover, textarea:hover {
  border-color: #f04b98;
}

input[type="text"]:focus,
input[type="email"]:focus, textarea:focus {
  background-color: #d1e4f0;
}

.border-red-500 {
  border-color: hsl(0, 66%, 54%) !important;
}

.label {
    display: block;
    font-weight: 700;
    color: #626262;
  }

  .error {
    margin-top: 4px;
    display: none;
    font-size: 14px;
    line-height: 20px;
    color: hsl(0, 66%, 54%);
  }