.section {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
}

.nav-links-div {
    width: 100%;
    background-color: var(--primary-blue) !important;
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    justify-content: center;
    gap: 60px;
}

.active {
    background-color: var(--secondary-blue);
}

.hover {
    position: relative;
}

.hover:hover {
    background-color: var(--secondary-blue);
}

.sub_link {
    position: absolute;
    z-index: 1000;
}

.hover div:hover + .sub_link {
    display: block;
}

.sub_link:hover {
    display: block;
}

.sub_link ul li:hover {
    background-color: var(--accent-purple);
}
